doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script
            include:uglify ../assets-dev/js/load-webfonts.js
            :uglify
                loadWebfonts(
                    '/assets/css/webfonts-woff.css',
                    '/assets/css/webfonts-woff2.css',
                    '#{hash(fileContents("web/assets/css/webfonts-woff.css"))}',
                    '#{hash(fileContents("web/assets/css/webfonts-woff2.css"))}'
                );
        if title
            title #{title} | #{siteTitle}
        else
            title #{siteTitle}
        meta(name="description", content=siteDescription)
        block styles
            link(href="/assets/css/main.css", rel="stylesheet", type="text/css")
        link(href="#{gravatar(96)}", rel="icon")
    body
        block content
            | !{contents}
        //- block scripts
        //-     script(src='//ajax.googleapis.com/ajax/libs/jquery/#{getDependencyVersion("jquery")}/jquery.min.js')
        //-     script.
        //-         window.jQuery || document.write('<script src="/assets/vendor/jquery/jquery.min.js"><\/script>')
        //-     each script in scripts
        //-         script(src=script)
        include partials/piwik.jade
