extends /layouts/base.pug

block head_title
  title= error.message

block head_styles
  +style('error')

block body
  .error
    h1.error_headline Error #{error.status}
    p.error_message= error.message
    if error.status === 404
      p.error_url= error.url
    else if error.stack
      pre.error_stack= error.stack
