---
layout: false
---

extends /layouts/base.pug

block body_contents

  header.site-header
    h1.site-title= site.title
    p.site-description= site.description

  main.site-main

    .about-me
      .about-me_realname= personal.realname
      .about-me_name= personal.name
      .about-me_info= personal.about

    .contact

      address.contact-address
        span.contact-address_name= personal.realname
        br
        span.contact-address_street #{personal.address.street} #[span.contact-address_streetno= personal.address.streetNo]
        br
        span.contact-address_zip #{personal.address.zip} #[span.contact-address_city= personal.address.city], #[span.contact-address_country= personal.address.country]

      ul.contact-items
        for key in ["phone", "email", "gpgkey"]
          - var item = personal.contacts[key]
          li.contact-item
            a.contact-item_link(
              href=item.url,
              title=item.description,
              class="icon--#{key}"
            )
              span.contact-item_label= item.label

    ul.social-links
      for key in ["github", "npm", "twitter", "google", "facebook", "gplus"]
        - var item = personal.contacts[key]
        li.social-links_item
          a.social-links_link(
            href=item.url,
            title=item.description,
            class="icon--#{key}"
          )
            span.social-links_label= item.label
